<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">Spacex DataSet</a>

**Navigate to the Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">link</a> for viewing  the   Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [1]:
!pip install sqlalchemy
!pip install psycopg2-binary
!pip install ipython-sql

Requirement already satisfied: sqlalchemy in /home/k/Documents/IBM_data_science_cert/10_applied_data_science_capstone/.applied_ds_capstone_venv/lib/python3.10/site-packages (1.4.44)
Requirement already satisfied: greenlet!=0.4.17 in /home/k/Documents/IBM_data_science_cert/10_applied_data_science_capstone/.applied_ds_capstone_venv/lib/python3.10/site-packages (from sqlalchemy) (2.0.1)
Requirement already satisfied: psycopg2-binary in /home/k/Documents/IBM_data_science_cert/10_applied_data_science_capstone/.applied_ds_capstone_venv/lib/python3.10/site-packages (2.9.5)
Requirement already satisfied: ipython-sql in /home/k/Documents/IBM_data_science_cert/10_applied_data_science_capstone/.applied_ds_capstone_venv/lib/python3.10/site-packages (0.4.1)
Requirement already satisfied: sqlalchemy>=0.6.7 in /home/k/Documents/IBM_data_science_cert/10_applied_data_science_capstone/.applied_ds_capstone_venv/lib/python3.10/site-packages (from ipython-sql) (1.4.44)
Requirement already satisfied: sqlparse in /home/k/Documents/IBM_data_science_cert/10_applied_data_science_capstone/.applied_ds_capstone_venv/lib/python3.10/site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in /home/k/Documents/IBM_data_science_cert/10_applied_data_science_capstone/.applied_ds_capstone_venv/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prettytable<1 in /home/k/Documents/IBM_data_science_cert/10_applied_data_science_capstone/.applied_ds_capstone_venv/lib/python3.10/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /home/k/Documents/IBM_data_science_cert/10_applied_data_science_capstone/.applied_ds_capstone_venv/lib/python3.10/site-packages (from ipython-sql) (8.7.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /home/k/Documents/IBM_data_science_cert/10_applied_data_science_capstone/.applied_ds_capstone_venv/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /home/k/Documents/IBM_data_science_cert/10_applied_data_science_capstone/.applied_ds_capstone_venv/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pygments>=2.4.0 in /home/k/Documents/IBM_data_science_cert/10_applied_data_science_capstone/.applied_ds_capstone_venv/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (2.13.0)
Requirement already satisfied: pexpect>4.3 in /home/k/Documents/IBM_data_science_cert/10_applied_data_science_capstone/.applied_ds_capstone_venv/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: jedi>=0.16 in /home/k/Documents/IBM_data_science_cert/10_applied_data_science_capstone/.applied_ds_capstone_venv/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.18.2)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.11 in /home/k/Documents/IBM_data_science_cert/10_applied_data_science_capstone/.applied_ds_capstone_venv/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (3.0.33)
Requirement already satisfied: matplotlib-inline in /home/k/Documents/IBM_data_science_cert/10_applied_data_science_capstone/.applied_ds_capstone_venv/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: traitlets>=5 in /home/k/Documents/IBM_data_science_cert/10_applied_data_science_capstone/.applied_ds_capstone_venv/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (5.5.0)
Requirement already satisfied: backcall in /home/k/Documents/IBM_data_science_cert/10_applied_data_science_capstone/.applied_ds_capstone_venv/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: stack-data in /home/k/Documents/IBM_data_science_cert/10_applied_data_science_capstone/.applied_ds_capstone_venv/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.6.2)
Requirement already satisfied: pickleshare in /home/k/Documents/IBM_data_science_cert/10_applied_data_science_capstone/.applied_ds_capstone_venv/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: greenlet!=0.4.17 in /home/k/Documents/IBM_data_science_cert/10_applied_data_science_capstone/.applied_ds_capstone_venv/lib/python3.10/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (2.0.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /home/k/Documents/IBM_data_science_cert/10_applied_data_science_capstone/.applied_ds_capstone_venv/lib/python3.10/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /home/k/Documents/IBM_data_science_cert/10_applied_data_science_capstone/.applied_ds_capstone_venv/lib/python3.10/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /home/k/Documents/IBM_data_science_cert/10_applied_data_science_capstone/.applied_ds_capstone_venv/lib/python3.10/site-packages (from prompt-toolkit<3.1.0,>=3.0.11->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: asttokens>=2.1.0 in /home/k/Documents/IBM_data_science_cert/10_applied_data_science_capstone/.applied_ds_capstone_venv/lib/python3.10/site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.1.0)
Requirement already satisfied: pure-eval in /home/k/Documents/IBM_data_science_cert/10_applied_data_science_capstone/.applied_ds_capstone_venv/lib/python3.10/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: executing>=1.2.0 in /home/k/Documents/IBM_data_science_cert/10_applied_data_science_capstone/.applied_ds_capstone_venv/lib/python3.10/site-packages (from stack-data->ipython>=1.0->ipython-sql) (1.2.0)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

In [3]:
%sql dialect+driver://username:password@host:port/database

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
invalid literal for int() with base 10: 'port'
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [4]:
%sql postgresql://postgres:ddi123@192.168.18.178/spacex

In [5]:
%sql ibm_db_sa://

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['postgresql://postgres:***@192.168.18.178/spacex'])
Can't load plugin: sqlalchemy.dialects:ibm_db_sa
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['postgresql://postgres:***@192.168.18.178/spacex'])

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [6]:
%sql SELECT DISTINCT launch_site FROM spacex LIMIT 10

 * postgresql://postgres:***@192.168.18.178/spacex
4 rows affected.

[('CCAFS SLC-40',), ('KSC LC-39A',), ('CCAFS LC-40',), ('VAFB SLC-4E',)]

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [7]:
%%sql 
SELECT * FROM spacex 
WHERE launch_site LIKE 'CCA%'
LIMIT 5

 * postgresql://postgres:***@192.168.18.178/spacex
5 rows affected.

[(datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)', datetime.date(2010, 6, 4)),
 (datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)', datetime.date(2010, 12, 8)),
 (datetime.time(7, 44), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt', datetime.date(2012, 5, 22)),
 (datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt', datetime.date(2012, 10, 8)),
 (datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt', datetime.date(2013, 3, 1))]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [8]:
%%sql
SELECT sum(payload_mass__kg_) as total_payload_mass FROM spacex
WHERE customer = 'NASA (CRS)'

 * postgresql://postgres:***@192.168.18.178/spacex
1 rows affected.

[(45596,)]

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [9]:
%%sql
SELECT avg(payload_mass__kg_) as total_payload_mass FROM spacex
WHERE booster_version LIKE '%F9 v1.1%'

 * postgresql://postgres:***@192.168.18.178/spacex
1 rows affected.

[(Decimal('2534.6666666666666667'),)]

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [10]:
%%sql
SELECT distinct landing_outcome FROM spacex

 * postgresql://postgres:***@192.168.18.178/spacex
11 rows affected.

[('Failure (parachute)',),
 ('Controlled (ocean)',),
 ('Success (drone ship)',),
 ('Precluded (drone ship)',),
 ('Uncontrolled (ocean)',),
 ('Success (ground pad)',),
 ('Success',),
 ('Failure',),
 ('No attempt ',),
 ('Failure (drone ship)',),
 ('No attempt',)]

In [11]:
%%sql
SELECT date FROM spacex
WHERE landing_outcome = 'Success (ground pad)'
LIMIT 1

 * postgresql://postgres:***@192.168.18.178/spacex
1 rows affected.

[(datetime.date(2015, 12, 22),)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [12]:
%%sql
SELECT DISTINCT booster_version FROM spacex
WHERE landing_outcome = 'Success (drone ship)' AND payload_mass__kg_ > 4000 AND payload_mass__kg_ < 6000

 * postgresql://postgres:***@192.168.18.178/spacex
4 rows affected.

[('F9 FT  B1021.2',), ('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1031.2',)]

### Task 7

##### List the total number of successful and failure mission outcomes

In [13]:
%%sql
SELECT DISTINCT mission_outcome FROM spacex

 * postgresql://postgres:***@192.168.18.178/spacex
4 rows affected.

[('Success (payload status unclear)',),
 ('Success',),
 ('Success ',),
 ('Failure (in flight)',)]

In [14]:
%%sql
SELECT
count(s.mission_outcome) FILTER (WHERE mission_outcome LIKE '%Success%') as total_success,
count(s.mission_outcome) FILTER (WHERE mission_outcome LIKE '%Failure%') as total_failure
FROM spacex s

 * postgresql://postgres:***@192.168.18.178/spacex
1 rows affected.

[(100, 1)]

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [15]:
%%sql
SELECT booster_version
FROM spacex
WHERE payload_mass__kg_ = (
    SELECT max(payload_mass__kg_) FROM spacex
)

 * postgresql://postgres:***@192.168.18.178/spacex
12 rows affected.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [16]:
%%sql
SELECT landing_outcome, booster_version, launch_site
FROM spacex
WHERE DATE_PART('year', date) = 2015 AND landing_outcome LIKE '%Failure%'

 * postgresql://postgres:***@192.168.18.178/spacex
2 rows affected.

[('Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [17]:
%%sql
SELECT 
count(s.landing_outcome)
FROM spacex s
WHERE s.landing_outcome = 'Failure (drone ship)' OR s.landing_outcome = 'Success (ground pad)'
AND (s.date >= '2010-06-04' OR s.date < '2017-03-20')

 * postgresql://postgres:***@192.168.18.178/spacex
1 rows affected.

[(14,)]

In [18]:
%%sql
SELECT * FROM spacex where DAY(date)='Friday' LIMIT 5

 * postgresql://postgres:***@192.168.18.178/spacex
(psycopg2.errors.UndefinedFunction) function day(date) does not exist
LINE 1: SELECT * FROM spacex where DAY(date)='Friday' LIMIT 5
                                   ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.

[SQL: SELECT * FROM spacex where DAY(date)='Friday' LIMIT 5]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-10-12 | 0.4     | Lakshmi Holla | Changed markdown          |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>